@page
@using ContosoCrafts.WebSite.Services
@model ContosoCrafts.WebSite.Pages.Product.AddMeetupModel
@{
    ViewData["Title"] = "Pawfect - Add Meetup";
}
<div class="content">
    <div class="card my-5">
        <div class="card-header">
            <h5 class="card-text"> Add Meetup </h5>
        </div>
        <form method="post">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h5 class="card-text">Paws to Meet</h5>
                <div class="form-group">
                    <label asp-for="pawOne" class="form-label"> Paws to Meet </label>
                    <select asp-for="pawOne" class="form-control-sm" id="pawOne">
                        <option selected disabled>Open this select menu</option>
                        @foreach (var Paw in Model.Paw)
                        {
                            <option value="@Paw.Id">@Paw.Paw.Name</option>
                        }
                    </select>
                    <span asp-validation-for="pawOne" class="text-danger"></span>

                    =>
                    <select asp-for="pawTwo" class="form-control-sm" id="pawTwo">
                        <option selected disabled>Open this select menu</option>
                        @foreach (var Paw in Model.Paw)
                        {
                            <option value="@Paw.Id">@Paw.Paw.Name</option>
                        }
                    </select>
                    <span asp-validation-for="pawTwo" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="meetupDate" class="form-label"> Date of meetup </label>
                    <input asp-for="meetupDate" type="date" class="form-control-sm" id="meetupDate">
                    <span asp-validation-for="meetupDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="meetupLocation" class="form-label"> Location of meetup </label>
                    <input asp-for="meetupLocation" type="text" class="form-control-sm" id="meetupLocation">
                    <span asp-validation-for="meetupLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="message" class="form-label"> Message </label>
                    <textarea asp-for="message" class="form-control" id="message"></textarea>
                    <span asp-validation-for="message" class="text-danger"></span>
                </div>

            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
    </div>
</div>