@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Pawfect - Home Page";
}
<div class="card my-5">
    <div class="card-body">
        <h5>Find the perfect match for your paw friends!</h5>
    </div>
</div>
@(await Html.RenderComponentAsync<PawList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>