@page
@model PrivacyModel
@{
    ViewData["Title"] = "Pawfect - Privacy page";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
<div class="card-header">
<p>Pawfect privacy policy</p>
</div>
<div class="card-body">
<p>1. You should have atleast one paw data with you to communicate with other paw owner for the meetup.</p>
<p>2. When you are entering any new paw data or updating it make sure every input should e filled so others can also know about your paw</p>
</div>
</div>